body{
    background-color: #CBCEA6;
}
#initial{
    background-color: #081C09;
    height: 93px;
    color: #758C72;
    text-align: center;
    padding: 24px;
    border-radius: 24px;
    font-family: Arial, Helvetica, sans-serif;
    
    
}
#page{
    box-sizing: border-box;
    width: 552px;
    background-color: #395B1D;
    height: 808px;
    margin: 105px auto;
    color: aliceblue;
    border-radius: 12px;
}
#about{
    padding-bottom: 75px;
}
h2{
    text-align: center;
    margin: auto;
    padding-top: 50px;
    font-family: Arial; 
    text-shadow: 1px 1px 1px black;
    font-size: 4em;
    font-weight: bold
}
p{
    width: 500px;
    text-align: justify;
    padding-top: 34px;
    margin: auto;
    text
  

}


footer{
 color: #1A7133;
 text-align: center;
 padding-bottom: 48px;
}

footer img {
    vertical-align: middle;
}